*{
    margin: 0%;
    padding: 0%;
 }
 
 
 .top-section{
    background-color: violet;
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
 }  
 
 
 .white-box{
    border: 2px solid blue;
    height: 200px;
    width: 200px;
    border-radius: 5px;
 }
 
 
 .text-under{
 display: flex;
 justify-content: center;
 }
 /* end of first section*/
 
 
 .second-section{
    background-color: black;
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
   
 }
 
 
 .boxes{
    border: 5px solid white;
    height: 25px;
    width: 25px;
    margin-left: 50px;
   
 }
 
 
 .under-boxes{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    color: aqua;
    display: flex;
    justify-content: center;
 }
 
 /*end of second section*/

 .third-section{
    background-color: brown;
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
 }
   
 .third-boxes{
    border: 20px solid black;
    height: 150px;
    width: 150px;
 }
   

 .third-p{
    display: flex;
    justify-content: center;
    color: rgb(224, 149, 42);
    font-size: 23px;
 }
 
 .box-two{
    border: 15px solid black;
    height: 100px;
    width: 100px;
 }

 .box-three{
    border: 10px solid black;
    height: 100px;
    width: 100px;
 }
 
 .box-four{
    border: 10px solid black;
    height: 60px;
    width: 60px;
 }

 .box-five{
    border: 5px solid black;
    height: 30px;
    width: 30px
 }

 .fourth-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 300px;
    background-color: blue;

 }

 .box-final{
    border: 10px solid red;
    height: 150px;
    width: 150px;
    border-radius: 100px;
 }
 
 
 
 
 
 
 
 
 